/*Wide Audience*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #ecebe7;
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    filter: grayscale(50%);
}

img:hover {
    box-shadow: 3px 3px 3px black;
    border: none;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
    border: 3px solid #000;
    background-color: white;
    color: black;
}

table,
tr,
th,
td {
    border-collapse: collapse;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 2rem;
}

table {
    border: 3px solid black;
}

th {
    padding: 0.5rem 3rem;
    border: 3px solid #000;
}

td {
    padding: 0.2rem 1rem;
    border: 3px solid #000;
}

section li {
    list-style-type: "\2622";
    padding-left: 1rem;
}

section {
    padding: 1rem 0;
}

footer li {
    list-style-type: none;
    text-align: right;
    margin: 0.4rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1.1rem;
    padding: 5px;
}

a:hover {
    box-shadow: 3px 3px 3px grey;
    background-color: white;
    color: #3a3a3a;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav li {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    background-color: orange;
}

nav a {
    flex: 1 1 auto;
    outline: 2px solid black;
    outline-offset: -1px;
}

nav a:hover {
    box-shadow: none;
}


@media screen and (max-width: 600px) {
    .container {
        border: none;
        background-color: inherit;
        color: orange;
    }

    img {
        border: none;
    }

    a {
        color: #000;
    }

    h1 {
        border: none;
        background-color: inherit;
        text-align: left;
    }
}

@media screen and (max-width: 900px) {
    body {
        background-color: lightgrey;
    }

    h1 {
        border: none;
        background-color: inherit;
    }
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 1200px;
        margin: auto;
        border: 5px solid black;
        padding: 25px;
        background-color: #3a3a3a;
        color: darkgrey;
    }
}
