/*Nature*/
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Yatra+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #379683;
    font-family: "BioRhyme", sans-serif;
    background-image: url(../../image-colorcheme/bush.png);
    line-height: 1.7;
    font-size: 0.9rem;
}

.container {
    max-width: 1000px;
    margin: auto;
    border: 5px solid #462f07;
    padding: 25px;
    background-color: #edf5e1;
    color: brown;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Yatra One', cursive;
    text-align: center;
    background-color: #987554;
    border: 5px solid #462f07;
    color: #aed581;
    padding: 1rem;
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 2rem;
}

section {
    margin-top: 3rem;
}


li {
    list-style: upper-roman;
    padding-left: 1rem;
}

footer li {
    list-style-type: none;
    margin: 0.6rem;
    text-align: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.2rem;
}

a:hover {
    border: 2px solid #379683;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: 2px solid #5cdb95;
}

td {
    padding: 0.1rem 1rem;
}

td:nth-child(even) {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #e2d6b0;
}

nav li {
    list-style-type: none;
    outline: 3px solid black;
    outline-offset: -2px;
    background-color: #fff;
    display: flex;
    padding-left: 0;
}

nav ul {
    padding-left: 10px;
    margin-left: 1rem;
}

nav {
    position: sticky;
    top: 30px;
    margin-left: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a {
    flex: 1 1 auto;
    text-align: right;
}

nav a:hover {
    border: none;
    background-color: green;
}


@media screen and (max-width: 600px) {
    body {
        background-image: url(../../image-colorcheme/bush.png);
    }


    .container {
        border: none;
        background-color: inherit;
    }

    nav {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-image: url(../../image-colorcheme/bush.png);
    }


    .container {
        background-color: inherit;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-image: url(../../image-colorcheme/trees.jpg);
        background-size: contain;
    }

    .container {
        background-color: #edf5e1;
    }
}
