/*Cheap*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #fbe551;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 25px;
    background-color: white;
    color: black;
    border: 3px solid blue;
}

img {
    max-width: 100%;
    height: auto;
    border: 5px solid blue;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 0.1rem 1rem;
    padding-left: 5px;
}

h1 {
    font-family: 'Hanalei Fill', cursive;
    font-size: 2.5rem;
    background-color: black;
    color: #fff;
    padding-left: 3rem;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 2rem;
}

footer li {
    list-style-type: none;
}

footer {
    text-align: right;
}

#games img {
    float: left;
    margin-right: 5rem;
    margin-top: 3.5rem;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
